* {
  //transition: background-color 1s ease;
}
span, p, a{
  font-family: "Lexend", sans-serif;
  font-weight: lighter;
  color: $white;
}

abbr{
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  color: $white;
}

abbr[title]{
  text-decoration: none;
  cursor: default;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  color: $white;
}
bold, strong, span.bold , a.bold {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
}
a{
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

.text-right{
  text-align: right;
}

.main{
  padding: 2rem;
}
button {
  border-radius: var(--bs-btn-border-radius);
}
.logo, .logo-vertical{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 2rem;
  img{
    max-width: 200px;
  }
}

.spacer{
  margin: 1rem 0;
}

.picker{
  background: $black;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  width: 100%;
  border:1px solid $primary;
  position: relative;

  svg{
    position: absolute;
    right: 1rem;
    top: 0.65rem
  }
  .options{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border:1px solid $primary;
    border-top-width: 0;
    opacity: 0;
    border-image-outset: 1;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin: 0 -1px;
    max-height: 0;
    background-color: black;
    display: none;
  }
  .option{
    width: 100%;
    overflow: hidden;
    padding: 0.5rem 1rem;
    color: $white;
    background-color: transparent;
    border-color: transparent;
    border-top: 1px dotted $primary;
    border-radius: 0;
    transition: height,opacity 1s linear;
    &:hover{
      color: $primary;
    }
  }
  &:hover, &:active, &:focus{
    border-color: $primary !important;

  }
  &.open{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    color: $gray-700 !important;
    .options {
      max-height: 300rem;
      opacity: 1;
      display: block;
    }
    svg{
      top: 0.75rem
    }
  }
}

.btn-secondary{
  background-color: transparent;
  border-color: $primary;
}

.header{
  position: fixed;
  top:0;
  height: 7rem;
  width: 100%;
  padding: 0 2rem;
  border-bottom: 1px solid $gray-900;
  background-color: $black;
  z-index: 100000;
  .logo{
    display: inline-block;
    margin: 0.5rem;
  }
  a {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    &:hover{
      opacity: 1;
    }
    svg{
      margin-right: 0.5rem;
      font-size: 1.5em;
      color: $gray-600;
    }
  }
  .navbar-toggler{
    svg{
      width: 25px;
    }
  }
}

.sidebar{
  background-color: $gray-900;
  flex-direction: column;
  width: 400px;
  top: 7rem;
  left: calc(100vw - 400px);
  transform: translateX(400px);
  transition: transform 0.25s linear;
  &.show{
    transform: translateX(0);
  }
  .navbar-vertical{
    .container-fluid {
      flex-direction: column;
      align-items: stretch;
      a {
        margin: 1rem;
        padding: 0;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;cursor: pointer;
        svg{
          margin-right: 0.5rem;
          font-size: 1.5rem;
          color: $gray-600;
          flex: 1;
        }
        span{
          flex: 6;
          font-size: 1rem;
          text-align: left;
        }
        small{
          font-size: 0.75rem;
          flex: 2;
        }
      }
    }
  }
}

.content{
  width: 100%;
  margin-top: 7rem;
}

.favorite-icon{
  background-color: transparent;
  border: none;
  &:active,&:focus{
    outline: none;
  }
  &.float-right{
    float: right;
  }
}

@keyframes leagueMoveIn {
  from {
    max-height: 0;
  }
  to{
    max-height: 200px;
  }
}

.home{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  max-width: 100vw;
  & > *{
    margin: 1rem;
    border: solid thin $gray-900;
    border-radius: 1rem;
  }

  .leagues-small{
    flex: 0 1 20%;
    .search-leagues{
      padding: 0.5rem 1rem;
      display: flex;
      border-bottom: solid thin $gray-900;
      align-items: center;
      input{
        padding: 0.5rem;
        background-color: transparent;
        border: none;
        color: $white;
        &:active,&:focus{
          outline: none;
        }
      }
    }
    nav{
      padding: 1rem;
      a {
        margin: 0.125rem 0;
        padding: 0.125rem 0;
        display: list-item;
        list-style: none;
        &.new {
          max-height: 0;
          animation: leagueMoveIn 0.5s ease-out;
          animation-fill-mode: forwards;
          overflow: hidden;
        }
        &.active{
          text-decoration: underline;
        }
      }
      div.nav-link{
        font-weight: bold;
        margin-top: 1rem;
      }
    }
  }
  .league-matches-container{
    flex: 0 1 60%;
    position: relative;
    .matchdays-container{
      height: 60px;
      width: 100%;
      border-bottom: solid thin $gray-900;
      position: relative;
      &:after {
        position: absolute;
        border-radius: 1rem;
        inset: 0;
        content: " ";
        background-image: linear-gradient(to right,transparent 10%, $black 10%, transparent 20%, transparent 80%, $black 90%, transparent 90%);
        pointer-events: none;
      }
      .today{
        position: absolute;
        left: 0;
        top:0;
        width: 10%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        user-select: none;
      }
      .matchdays{
        position: absolute;
        left: 10%;
        top:0;
        right: 10%;
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        user-select: none;
      }
      .matchday{
        background-color: transparent;
        border: none;
        margin: 0 1rem;
        text-align: center;
      }
      .clava-calendar-container{
        position: absolute;
        right:0;
        top:0;
        left: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        button.label {
          background: none;
          border: none;
          color: $white;
          &:active{
            outline: none;
          }
        }
        .react-calendar-container{
          position: absolute;
          top: 0;
          right: 0;
          background-color: $primary;
          border-radius: 1rem;
          padding: 1rem;
          z-index: 1000;
          .react-calendar {
            .react-calendar__navigation{
              display: flex;
            }
            .react-calendar__month-view__weekdays__weekday,
            .react-calendar__tile{
              padding: 0.25rem;
              position: relative;
              &.react-calendar__tile--now{
                :after{
                  content: " ";
                  position: absolute;
                  top: 0.25rem;
                  right: 0.35rem;
                  width: 0.5rem;
                  height: 0.5rem;
                  background-color: $live;
                  border-radius: 100%;
                }
              }
              &.react-calendar__tile--active{
                background-color: $black;
                border-radius: 100%;
                abbr {
                  color: $primary;
                  font-weight: 400;
                }
              }

              &.react-calendar__month-view__days__day--neighboringMonth{
                opacity: 0;
                pointer-events: none;
                cursor: default;
              }
              .disabled{
                position: absolute;
                inset: 0;
                cursor: default;
                background-color: $black-2;
                border-radius: 100%;
              }
              .enabled{
                position: absolute;
                inset: 0;
                background-color: $white-2;
                border-radius: 100%;
              }
            }
            button {
              background: none;
              border: none;
              color: $white;

              &:active {
                outline: none;
              }
            }
          }
        }
      }
    }
    .league-matches{
      width: 100%;

    }
  }
  .news-small{
    flex: 0 1 20%;
    .news-header{
      border-bottom: solid thin $gray-900;
      padding: 1rem 0.5rem;
      text-align: center;
      min-height: 57px;
      max-height: 57px;
    }
    .news-list {
      padding: 0.5rem;
      .news-list-elem {
        display: block;
        margin-bottom: 1rem;
        border-radius: 1rem;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          top: 0;
          left: 0;
        }
        .backdrop {
          position: absolute;
          bottom: 0;
          width: 100%;
          h6 {
            margin: 0.5rem;
          }
        }
        &:hover{
          .backdrop {
            background-image: linear-gradient(to top, $black-6, transparent);
          }
        }
      }
    }
  }
}

.clava-ad{
  img{
    width: 100%;
  }
}

.match-small{
  border-radius: 1rem;
  background-color: $gray-950;
  padding: 0.25rem;
  display: block;
  .match-status, .fav-icon{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.match-big{
  border-radius: 1rem;
  background-color: $gray-950;
  padding: 0.25rem;
  display: block;
  position: relative;
  .close-match{
    position: absolute;
    right: 0.75rem;
    top: 0.25rem;
  }
}


.league-match-section {
  margin: 0.5rem 0.5rem 1rem 0.5rem;

  .league-match-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &.link {
      cursor: pointer;
    }
  }
  .league-match-item {
    margin: 0.25rem 0;
  }
}

.match-event{
  border-bottom: 1px solid $gray-800;
  .standing{
    display: block;
    align-self: center;
    font-size: 75%;
  }
  .player, .assist{
    width: 100%;
    display: block;
  }
  .event-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card-event {
      display: block;
      width: 0.75rem;
      height: 1rem;
      border-radius: 0.25rem;
      position: relative;
      border: 1px solid $black;

      &.red {
        background-color: $red;
      }

      &.yellow {
        background-color: $yellow;
      }

      &.yellow-red {
        background-color: $yellow;

        &:after {
          position: absolute;
          width: 0.75rem;
          height: 1rem;
          top: 0.25rem;
          border: 1px solid $black;
          left: 0.25rem;
          content: " ";
          background-color: $red;
          border-radius: 0.25rem;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .first-open{
    .position-absolute{
      position: relative !important;
    }
  }
}

@media (min-width: 420px) {
  .first-open{
    &:after{
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20rem;
      height: 7rem;
      border-bottom:7rem solid $primary;
      border-left:20rem solid $primary;
      border-top:7rem solid transparent;
      border-right:20rem solid transparent;
    }
  }
}
